In [1]:
# import libriaries
import sqlite3

In [2]:
connection = sqlite3.connect("chinook.db")
cursor = connection.cursor()

In [30]:
# 1. Which tracks appeared in the most playlists? How many playlist did they appear in?Which track generated the most revenue?
cursor.execute ('''WITH first_query AS (
                SELECT TrackId, COUNT(*) AS Quantity, PlaylistId
                FROM playlist_track
                GROUP BY 3
                ORDER BY 2 DESC
                ), 
                second_query AS (
                SELECT SUM (Quantity) AS 'Total Number', TrackId
                FROM first_query
                GROUP BY 2
                ORDER BY 1 DESC
                ), 
                third_query AS (
                SELECT *
                FROM second_query
                LEFT JOIN tracks
                    ON second_query.TrackId = tracks.TrackId
                )
                SELECT "Total Number", "TrackId", "Name", "Composer"
                FROM third_query;''').fetchall()

[(6606,
  1,
  'For Those About To Rock (We Salute You)',
  'Angus Young, Malcolm Young, Brian Johnson'),
 (1477,
  3,
  'Fast As a Shark',
  'F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman'),
 (426, 2819, 'Battlestar Galactica: The Story So Far', None),
 (100, 3403, 'Intoitus: Adorate Deum', 'Anonymous'),
 (39, 215, 'Sozinho', 'Peninha'),
 (25, 3479, 'Prometheus Overture, Op. 43', 'Ludwig van Beethoven'),
 (25,
  3430,
  'Toccata and Fugue in D Minor, BWV 565: I. Toccata',
  'Johann Sebastian Bach'),
 (15, 52, 'Man In The Box', 'Jerry Cantrell, Layne Staley'),
 (1, 3402, 'Band Members Discuss Tracks from "Revelations"', None),
 (1, 597, "Now's The Time", 'Miles Davis')]

In [7]:
# 2. Which track generated the most revenue?
cursor.execute ('''WITH first_query AS (
                SELECT SUM(UnitPrice) AS "Revenue by Track", TrackId
                FROM invoice_items
                GROUP BY 2
                ORDER BY 1 DESC
                LIMIT 10
                ), 
                second_query AS (
                SELECT *
                FROM first_query
                LEFT JOIN tracks
                    ON first_query.TrackId = tracks.TrackId
                )
                SELECT "TrackId", "Name", "Revenue by Track"
                FROM second_query;''').fetchone()

(2832, 'The Woman King', 3.98)

In [8]:
# 3. Which album generated the most revenue?
cursor.execute ('''WITH first_query AS (
                SELECT *
                FROM invoice_items
                LEFT JOIN tracks
                    ON invoice_items.TrackId = tracks.TrackId
                ), 
                second_query AS (
                SELECT SUM (UnitPrice) AS "Revenue by Album", AlbumId
                FROM first_query
                GROUP BY 2
                ORDER BY 1 DESC
                LIMIT 10
                ), 
                third_query AS (
                SELECT *
                FROM second_query
                LEFT JOIN albums
                    ON second_query.AlbumId= albums.AlbumId
                )
                SELECT "AlbumId", "Title", "ArtistId", "Revenue by Album"
                FROM third_query;''').fetchone()

(253, 'Battlestar Galactica (Classic), Season 1', 158, 35.81999999999999)

In [9]:
# 4. Which genre generated the most revenue?
cursor.execute ('''WITH first_query AS (
                SELECT *
                FROM invoice_items
                LEFT JOIN tracks
                    ON invoice_items.TrackId = tracks.TrackId
                ), 
                second_query AS (
                SELECT ROUND (SUM (UnitPrice),2) AS "Revenue by Genre", GenreId
                FROM first_query
                GROUP BY 2
                ORDER BY 1 DESC
                LIMIT 10
                ), 
                third_query AS (
                SELECT *
                FROM second_query
                LEFT JOIN genres
                    ON second_query.GenreId = genres.GenreId
                )
                SELECT GenreId, Name, "Revenue by Genre"
                FROM third_query;''').fetchone()

(1, 'Rock', 826.65)

In [10]:
# 5. Which countries have the highest sales revenue?
cursor.execute ('''SELECT ROUND (SUM (Total),0) AS "Sales Revenue by Country", BillingCountry
                FROM invoices
                GROUP BY 2
                ORDER BY 1 DESC
                LIMIT 5;''').fetchall()

[(523.0, 'USA'),
 (304.0, 'Canada'),
 (195.0, 'France'),
 (190.0, 'Brazil'),
 (156.0, 'Germany')]

In [28]:
# 6. What percent of total revenue does each country make up?
cursor.execute ('''WITH first_query AS (
                SELECT ROUND (SUM (Total),0) AS "Sales Revenue by Country", BillingCountry
                FROM invoices
                GROUP BY 2
                ORDER BY 1 DESC
                )
                SELECT BillingCountry, "Sales Revenue by Country", 
                       (ROUND(SUM("Sales Revenue by Country") / (SELECT SUM("Sales Revenue by Country") FROM first_query), 3))*100 AS Percentage
                FROM first_query
                GROUP BY BillingCountry
                ORDER BY percentage DESC;''').fetchall()

[('USA', 523.0, 22.400000000000002),
 ('Canada', 304.0, 13.0),
 ('France', 195.0, 8.4),
 ('Brazil', 190.0, 8.1),
 ('Germany', 156.0, 6.7),
 ('United Kingdom', 113.0, 4.8),
 ('Czech Republic', 90.0, 3.9),
 ('Portugal', 77.0, 3.3000000000000003),
 ('India', 75.0, 3.2),
 ('Ireland', 46.0, 2.0),
 ('Hungary', 46.0, 2.0),
 ('Chile', 47.0, 2.0),
 ('Netherlands', 41.0, 1.7999999999999998),
 ('Finland', 42.0, 1.7999999999999998),
 ('Austria', 43.0, 1.7999999999999998),
 ('Sweden', 39.0, 1.7000000000000002),
 ('Norway', 40.0, 1.7000000000000002),
 ('Spain', 38.0, 1.6),
 ('Poland', 38.0, 1.6),
 ('Italy', 38.0, 1.6),
 ('Denmark', 38.0, 1.6),
 ('Belgium', 38.0, 1.6),
 ('Australia', 38.0, 1.6),
 ('Argentina', 38.0, 1.6)]

In [29]:
# 7. How many customers did each employee support?
cursor.execute ('''WITH first_query AS(SELECT *
                FROM customers
                LEFT JOIN employees
                    ON customers.SupportRepId = employees.EmployeeId
                )
                SELECT COUNT (*) AS "Total Number", EmployeeId, "LastName:1" AS "Last Name", "FirstName:1" AS "First Name", Title
                FROM first_query
                GROUP BY EmployeeId;''').fetchall()

[(21, 3, 'Peacock', 'Jane', 'Sales Support Agent'),
 (20, 4, 'Park', 'Margaret', 'Sales Support Agent'),
 (18, 5, 'Johnson', 'Steve', 'Sales Support Agent')]

In [37]:
# 8. What is the average revenue for each sale?
cursor.execute ('''WITH first_query AS (
                SELECT CustomerId, ROUND(AVG (Total), 2) AS "Average Sale"
                FROM invoices
                GROUP BY CustomerId
                ORDER BY 2 DESC
                ), 
                second_query AS(
                SELECT *
                FROM first_query
                LEFT JOIN customers
                    ON first_query.CustomerId = customers.CustomerId
                ), 
                third_query AS (
                SELECT ROUND(SUM ("Average Sale"), 2) AS "Average Revenue per Sale", SupportRepId
                FROM second_query
                GROUP BY SupportRepId
                )
                SELECT EmployeeId, LastName, FirstName, "Average Revenue per Sale"
                FROM third_query
                LEFT JOIN employees
                    ON third_query.SupportRepId = employees.EmployeeId
                ORDER BY "Average Sale by Employee" DESC;''').fetchall()

[(3, 'Peacock', 'Jane', 119.86),
 (4, 'Park', 'Margaret', 110.72),
 (5, 'Johnson', 'Steve', 102.84)]

In [38]:
# 9. What is their total sale?
cursor.execute ('''WITH first_query AS (
                SELECT CustomerId, ROUND(SUM (Total),0) AS "Total Revenue"
                FROM invoices
                GROUP BY CustomerId
                ORDER BY 2 DESC
                ), 
                second_query AS(
                SELECT *
                FROM first_query
                LEFT JOIN customers
                    ON first_query.CustomerId = customers.CustomerId
                ), 
                third_query AS (
                SELECT SUM ("Total Revenue") AS "Total Revenue per Employee", SupportRepId
                FROM second_query
                GROUP BY SupportRepId
                )
                SELECT EmployeeId, LastName, FirstName, "Total Revenue per Employee"
                FROM third_query
                LEFT JOIN employees
                    ON third_query.SupportRepId = employees.EmployeeId
                ORDER BY "Total Revenue by Employee" DESC;''').fetchall()

[(3, 'Peacock', 'Jane', 841.0),
 (4, 'Park', 'Margaret', 783.0),
 (5, 'Johnson', 'Steve', 727.0)]

In [48]:
# 10. Do longer or shorter length albums tend to generate more revenue?
cursor.execute ('''WITH first_query AS (
                SELECT *
                FROM invoice_items
                LEFT JOIN tracks
                    ON invoice_items.TrackId = tracks.TrackId
                ), 
                second_query AS (
                SELECT ROUND(SUM (UnitPrice),2) AS "Revenue by Album", AlbumId
                FROM first_query
                GROUP BY 2
                ORDER BY 1 DESC
                LIMIT 10
                ), 
                third_query AS (
                SELECT *
                FROM second_query
                LEFT JOIN albums
                    ON second_query.AlbumId= albums.AlbumId
                ), 
                revenue_by_album AS (
                SELECT "AlbumId", "Title", "ArtistId", "Revenue by Album"
                FROM third_query
                ), 
                number_of_tracks AS (
                SELECT COUNT (*) AS "Number of Tracks", AlbumId, Name
                FROM tracks
                GROUP BY AlbumId
                ORDER BY 1 DESC
                ), 
                join_table AS (
                SELECT *
                FROM revenue_by_album
                LEFT JOIN number_of_tracks
                    ON revenue_by_album.AlbumId = number_of_tracks.AlbumId
                )
                SELECT AlbumId, Title, "Number of Tracks", "Revenue by Album"
                FROM join_table
                ORDER BY 4 DESC;''').fetchall()

# Medium length albums tend to generate more revenue.

[(253, 'Battlestar Galactica (Classic), Season 1', 24, 35.82),
 (251, 'The Office, Season 3', 25, 31.84),
 (23, 'Minha Historia', 34, 26.73),
 (231, 'Lost, Season 2', 24, 25.87),
 (228, 'Heroes, Season 1', 23, 25.87),
 (141, 'Greatest Hits', 57, 25.74),
 (73, 'Unplugged', 30, 24.75),
 (227, 'Battlestar Galactica, Season 3', 19, 23.88),
 (229, 'Lost, Season 3', 26, 21.89),
 (224, 'Acústico', 22, 21.78)]

In [50]:
# 11. Is the number of times a track appear in any playlist a good indicator of sales?
cursor.execute ('''WITH first_query AS (
                SELECT SUM(UnitPrice) AS "Revenue by Track", TrackId
                FROM invoice_items
                GROUP BY 2
                ORDER BY 1 DESC
                ), 
                second_query AS (
                SELECT *
                FROM first_query
                LEFT JOIN tracks
                    ON first_query.TrackId = tracks.TrackId
                ), 
                revenue_by_track AS(
                SELECT "Revenue by Track", "TrackId", "Name"
                FROM second_query
                ), 
                number_of_appearance AS (
                SELECT COUNT (*) AS "Number of Appearance", TrackId
                FROM playlist_track
                GROUP BY TrackId
                ORDER BY 1 DESC
                )
                SELECT *
                FROM number_of_appearance 
                LEFT JOIN revenue_by_track
                    ON number_of_appearance.TrackId = revenue_by_track.TrackId
                WHERE "Revenue by Track" IS NOT NULL
                ORDER BY "Revenue by Track" DESC;''').fetchmany(500)

# Absolutely not.

[(2, 2832, 3.98, 2832, 'The Woman King'),
 (2, 2850, 3.98, 2850, 'The Fix'),
 (2, 2868, 3.98, 2868, 'Walkabout'),
 (2, 3177, 3.98, 3177, 'Hot Girl'),
 (2, 3200, 3.98, 3200, 'Gay Witch Hunt'),
 (2, 3214, 3.98, 3214, "Phyllis's Wedding"),
 (2, 3223, 3.98, 3223, 'How to Stop an Exploding Man'),
 (2, 3250, 3.98, 3250, 'Pilot'),
 (2, 2820, 1.99, 2820, 'Occupation / Precipice'),
 (2, 2821, 1.99, 2821, 'Exodus, Pt. 1'),
 (2, 2822, 1.99, 2822, 'Exodus, Pt. 2'),
 (2, 2823, 1.99, 2823, 'Collaborators'),
 (2, 2826, 1.99, 2826, 'Hero'),
 (2, 2827, 1.99, 2827, 'Unfinished Business'),
 (2, 2828, 1.99, 2828, 'The Passage'),
 (2, 2833, 1.99, 2833, 'A Day In the Life'),
 (2, 2837, 1.99, 2837, 'Crossroads, Pt. 1'),
 (2, 2838, 1.99, 2838, 'Crossroads, Pt. 2'),
 (2, 2839, 1.99, 2839, 'Genesis'),
 (2, 2841, 1.99, 2841, 'One Giant Leap'),
 (2, 2844, 1.99, 2844, 'Better Halves'),
 (2, 2845, 1.99, 2845, 'Nothing to Hide'),
 (2, 2846, 1.99, 2846, 'Seven Minutes to Midnight'),
 (2, 2851, 1.99, 2851, 'Distractions'),
 (2, 2855, 1.99, 2855, 'Company Man'),
 (2, 2856, 1.99, 2856, 'Parasite'),
 (2, 2859, 1.99, 2859, 'Man of Science, Man of Faith (Premiere)'),
 (2, 2860, 1.99, 2860, 'Adrift'),
 (2, 2862, 1.99, 2862, 'The Glass Ballerina'),
 (2, 2864, 1.99, 2864, 'Orientation'),
 (2, 2869, 1.99, 2869, '...And Found'),
 (2, 2873, 1.99, 2873, 'House of the Rising Sun'),
 (2, 2874, 1.99, 2874, 'I Do'),
 (2, 2877, 1.99, 2877, 'The Moth'),
 (2, 2878, 1.99, 2878, 'The Other 48 Days'),
 (2, 2882, 1.99, 2882, 'Lost Survival Guide'),
 (2, 2883, 1.99, 2883, 'Solitary'),
 (2, 2886, 1.99, 2886, 'Stranger In a Strange Land'),
 (2, 2887, 1.99, 2887, 'The 23rd Psalm'),
 (2, 2891, 1.99, 2891, 'Enter 77'),
 (2, 2892, 1.99, 2892, 'Fire + Water'),
 (2, 2895, 1.99, 2895, 'Par Avion'),
 (2, 2896, 1.99, 2896, 'The Long Con'),
 (2, 2900, 1.99, 2900, 'Exposé'),
 (2, 2901, 1.99, 2901, 'Homecoming'),
 (2, 2904, 1.99, 2904, 'Outlaws'),
 (2, 2905, 1.99, 2905, 'The Whole Truth'),
 (2, 2909, 1.99, 2909, 'Catch-22'),
 (2, 2910, 1.99, 2910, 'Dave'),
 (2, 2913, 1.99, 2913, 'Deus Ex Machina'),
 (2, 2914, 1.99, 2914, 'S.O.S.'),
 (2, 2918, 1.99, 2918, '"?"'),
 (2, 2919, 1.99, 2919, 'Born to Run'),
 (2, 2922, 1.99, 2922, 'Live Together, Die Alone, Pt. 1'),
 (2, 2923, 1.99, 2923, 'Exodus (Part 2) [Season Finale]'),
 (2, 3168, 1.99, 3168, 'The Hard Part'),
 (2, 3169, 1.99, 3169, 'The Man Behind the Curtain'),
 (2, 3173, 1.99, 3173, 'Diversity Day'),
 (2, 3178, 1.99, 3178, 'The Dundies'),
 (2, 3182, 1.99, 3182, 'Halloween'),
 (2, 3186, 1.99, 3186, 'Email Surveillance'),
 (2, 3187, 1.99, 3187, 'Christmas Party'),
 (2, 3191, 1.99, 3191, 'The Carpet'),
 (2, 3196, 1.99, 3196, "Michael's Birthday"),
 (2, 3201, 1.99, 3201, 'The Convention'),
 (2, 3202, 1.99, 3202, 'The Coup'),
 (2, 3204, 1.99, 3204, 'The Initiation'),
 (2, 3205, 1.99, 3205, 'Diwali'),
 (2, 3206, 1.99, 3206, 'Branch Closing'),
 (2, 3208, 1.99, 3208, 'The Convict'),
 (2, 3209, 1.99, 3209, 'A Benihana Christmas, Pts. 1 & 2'),
 (2, 3210, 1.99, 3210, 'Back from Vacation'),
 (2, 3212, 1.99, 3212, "Producer's Cut: The Return"),
 (2, 3218, 1.99, 3218, 'Safety Training'),
 (2, 3222, 1.99, 3222, 'The Job'),
 (2, 3224, 1.99, 3224, 'Through a Looking Glass'),
 (2, 3226, 1.99, 3226, 'Battlestar Galactica, Pt. 1'),
 (2, 3227, 1.99, 3227, 'Battlestar Galactica, Pt. 2'),
 (2, 3229, 1.99, 3229, 'Lost Planet of the Gods, Pt. 1'),
 (2, 3230, 1.99, 3230, 'Lost Planet of the Gods, Pt. 2'),
 (2, 3231, 1.99, 3231, 'The Lost Warrior'),
 (2, 3232, 1.99, 3232, 'The Long Patrol'),
 (2, 3233, 1.99, 3233, 'The Gun On Ice Planet Zero, Pt. 1'),
 (2, 3234, 1.99, 3234, 'The Gun On Ice Planet Zero, Pt. 2'),
 (2, 3235, 1.99, 3235, 'The Magnificent Warriors'),
 (2, 3237, 1.99, 3237, 'The Living Legend, Pt. 1'),
 (2, 3238, 1.99, 3238, 'The Living Legend, Pt. 2'),
 (2, 3241, 1.99, 3241, 'War of the Gods, Pt. 2'),
 (2, 3244, 1.99, 3244, 'Greetings from Earth, Pt. 1'),
 (2, 3245, 1.99, 3245, 'Greetings from Earth, Pt. 2'),
 (2, 3246, 1.99, 3246, "Baltar's Escape"),
 (2, 3247, 1.99, 3247, 'Experiment In Terra'),
 (2, 3248, 1.99, 3248, 'Take the Celestra'),
 (2, 3249, 1.99, 3249, 'The Hand of God'),
 (2, 3252, 1.99, 3252, 'Through the Looking Glass, Pt. 1'),
 (2, 3337, 1.99, 3337, 'Past, Present, and Future'),
 (2, 3338, 1.99, 3338, 'The Beginning of the End'),
 (2, 3342, 1.99, 3342, 'The Economist'),
 (2, 3346, 1.99, 3346, 'Ji Yeon'),
 (2, 3347, 1.99, 3347, 'Meet Kevin Johnson'),
 (2, 3360, 1.99, 3360, 'Something Nice Back Home'),
 (2, 3364, 1.99, 3364, "There's No Place Like Home, Pt. 3"),
 (2, 3428, 1.99, 3428, 'Branch Closing'),
 (3, 2, 1.98, 2, 'Balls to the Wall'),
 (2, 8, 1.98, 8, 'Inject The Venom'),
 (2, 9, 1.98, 9, 'Snowballed'),
 (2, 20, 1.98, 20, 'Overdose'),
 (3, 32, 1.98, 32, 'Deuces Are Wild'),
 (3, 48, 1.98, 48, 'Not The Doctor'),
 (2, 66, 1.98, 66, 'Por Causa De Você'),
 (3, 84, 1.98, 84, 'Welcome Home (Sanitarium)'),
 (2, 161, 1.98, 161, 'Snowblind'),
 (2, 162, 1.98, 162, 'Cornucopia'),
 (3, 171, 1.98, 171, 'Bowels Of The Devil'),
 (3, 175, 1.98, 175, 'Voodoo'),
 (3, 184, 1.98, 184, 'Chemical Wedding'),
 (2, 198, 1.98, 198, 'When My Left Eye Jumps'),
 (3, 207, 1.98, 207, 'Meditação'),
 (3, 211, 1.98, 211, 'Bem Devagar'),
 (3, 217, 1.98, 217, 'Mel'),
 (2, 229, 1.98, 229, 'Samba De Orly'),
 (2, 234, 1.98, 234, 'Morena De Angola'),
 (2, 240, 1.98, 240, 'Meu Caro Amigo'),
 (2, 241, 1.98, 241, 'Geni E O Zepelim'),
 (3, 252, 1.98, 252, 'Samba Do Lado'),
 (3, 264, 1.98, 264, 'Amor De Muito'),
 (3, 280, 1.98, 280, 'Lixo Do Mangue'),
 (2, 298, 1.98, 298, 'A Cor Do Sol'),
 (2, 316, 1.98, 316, 'Linha Do Equador'),
 (3, 393, 1.98, 393, 'Tarde Em Itapoã'),
 (2, 394, 1.98, 394, 'Tanto Tempo'),
 (2, 403, 1.98, 403, 'Bumbo Da Mangueira'),
 (2, 407, 1.98, 407, 'Só Tinha De Ser Com Você'),
 (3, 416, 1.98, 416, 'Whiskey In The Jar'),
 (3, 430, 1.98, 430, "I'm Going Slightly Mad"),
 (3, 439, 1.98, 439, 'Sure Know Something'),
 (3, 443, 1.98, 443, 'Shock Me'),
 (3, 449, 1.98, 449, 'Calling Dr. Love'),
 (3, 461, 1.98, 461, 'Surrender'),
 (3, 466, 1.98, 466, 'J Squared'),
 (3, 472, 1.98, 472, 'Basket Case'),
 (3, 473, 1.98, 473, 'When I Come Around'),
 (3, 484, 1.98, 484, 'Nice Guys Finish Last'),
 (2, 496, 1.98, 496, 'Living On Love'),
 (3, 512, 1.98, 512, 'Comportamento Geral'),
 (2, 530, 1.98, 530, 'Ando Meio Desligado'),
 (2, 548, 1.98, 548, 'Smoke On The Water'),
 (2, 625, 1.98, 625, 'Blue Rythm Fantasy'),
 (2, 626, 1.98, 626, 'Drum Boogie'),
 (2, 635, 1.98, 635, 'Lemon Drop'),
 (2, 639, 1.98, 639, "Don't Take Your Love From Me"),
 (2, 648, 1.98, 648, 'Onde Anda Você'),
 (2, 662, 1.98, 662, 'Pela Luz dos Olhos Teus (Miúcha e Tom Jobim)'),
 (2, 671, 1.98, 671, 'As Rosas Não Falam (Beth Carvalho)'),
 (2, 675, 1.98, 675, 'Susie Q'),
 (2, 681, 1.98, 681, 'Commotion'),
 (2, 693, 1.98, 693, 'Sweet Hitch-Hiker'),
 (2, 698, 1.98, 698, 'Good Golly Miss Molly'),
 (2, 704, 1.98, 704, "Don't Look Now"),
 (2, 705, 1.98, 705, 'The Midnight Special'),
 (2, 716, 1.98, 716, 'Brasil'),
 (2, 728, 1.98, 728, 'Woman Is The Nigger Of The World (Ao Vivo)'),
 (2, 744, 1.98, 744, 'Mis Penas Lloraba Yo (Ao Vivo) Soy Gitano (Tangos)'),
 (2, 762, 1.98, 762, 'No No No'),
 (2, 780, 1.98, 780, "Maybe I'm A Leo"),
 (3, 857, 1.98, 857, 'Álibi'),
 (4, 858, 1.98, 858, 'Esquinas'),
 (4, 867, 1.98, 867, 'Açai'),
 (3, 871, 1.98, 871, 'Azul'),
 (2, 880, 1.98, 880, 'Dois Pra Lá, Dois Pra Cá'),
 (3, 894, 1.98, 894, 'Sunshine Of Your Love'),
 (3, 903, 1.98, 903, 'Lay Down Sally'),
 (3, 907, 1.98, 907, 'Promises'),
 (3, 913, 1.98, 913, 'Lonely Stranger'),
 (3, 925, 1.98, 925, 'Last Cup Of Sorrow'),
 (3, 930, 1.98, 930, 'She Loves Me Not'),
 (3, 936, 1.98, 936, 'Caffeine'),
 (3, 937, 1.98, 937, 'Midlife Crisis'),
 (3, 948, 1.98, 948, 'Easy'),
 (3, 960, 1.98, 960, 'What A Day'),
 (3, 976, 1.98, 976, 'Falamansa Song'),
 (2, 994, 1.98, 994, 'The Last Song'),
 (2, 1012, 1.98, 1012, 'Times Like These'),
 (3, 1089, 1.98, 1089, 'Is This Love (Live)'),
 (3, 1090, 1.98, 1090, 'Stir It Up (Live)'),
 (4, 1099, 1.98, 1099, 'A Novidade (Live)'),
 (2, 1103, 1.98, 1103, 'Lamento De Carnaval'),
 (3, 1112, 1.98, 1112, 'Beira Mar'),
 (2, 1126, 1.98, 1126, 'Re-Align'),
 (2, 1135, 1.98, 1135, 'Holiday'),
 (2, 1139, 1.98, 1139, 'Give Me Novacaine'),
 (2, 1145, 1.98, 1145, 'Whatsername'),
 (2, 1157, 1.98, 1157, 'Rocket Queen'),
 (3, 1162, 1.98, 1162, 'Perfect Crime'),
 (3, 1168, 1.98, 1168, 'The Garden'),
 (3, 1169, 1.98, 1169, 'Garden of Eden'),
 (3, 1180, 1.98, 1180, 'Breakdown'),
 (3, 1192, 1.98, 1192, "L'Arc En Ciel De Miles"),
 (2, 1208, 1.98, 1208, 'For the Greater Good of God'),
 (3, 1226, 1.98, 1226, 'Can I Play With Madness'),
 (2, 1244, 1.98, 1244, 'The Thin Line Between Love & Hate'),
 (3, 1321, 1.98, 1321, 'Hallowed Be Thy Name'),
 (3, 1322, 1.98, 1322, 'The Trooper'),
 (3, 1331, 1.98, 1331, 'Run Silent Run Deep'),
 (3, 1335, 1.98, 1335, 'Where Eagles Dare'),
 (2, 1344, 1.98, 1344, 'Aces High'),
 (2, 1358, 1.98, 1358, 'Blood Brothers'),
 (2, 1367, 1.98, 1367, 'The Number Of The Beast'),
 (2, 1371, 1.98, 1371, 'Moonchild'),
 (2, 1377, 1.98, 1377, 'The Clairvoyant'),
 (2, 1389, 1.98, 1389, 'Gangland'),
 (2, 1394, 1.98, 1394, 'The Prisoner'),
 (3, 1400, 1.98, 1400, 'The Aftermath'),
 (3, 1401, 1.98, 1401, 'Judgement Of Heaven'),
 (3, 1412, 1.98, 1412, "Don't Look To The Eyes Of A Stranger"),
 (3, 1424, 1.98, 1424, 'Hey America'),
 (3, 1440, 1.98, 1440, "Whatever It Is, I Just Can't Stop"),
 (3, 1458, 1.98, 1458, 'Light Years'),
 (2, 1476, 1.98, 1476, 'Take It Or Leave It'),
 (2, 1553, 1.98, 1553, "You've Got Another Thing Comin'"),
 (2, 1554, 1.98, 1554, 'Turbo Lover'),
 (3, 1563, 1.98, 1563, 'Plaster Caster'),
 (3, 1567, 1.98, 1567, 'Sure Know Something'),
 (3, 1576, 1.98, 1576, 'Rock And Roll All Nite'),
 (2, 1590, 1.98, 1590, "Walter's Walk"),
 (2, 1599, 1.98, 1599, 'Dancing Days'),
 (2, 1603, 1.98, 1603, 'In The Evening'),
 (2, 1609, 1.98, 1609, "I'm Gonna Crawl"),
 (2, 1621, 1.98, 1621, 'Dazed and Confused'),
 (2, 1626, 1.98, 1626, 'How Many More Times'),
 (2, 1632, 1.98, 1632, "Living Loving Maid (She's Just A Woman)"),
 (2, 1633, 1.98, 1633, 'Ramble On'),
 (2, 1644, 1.98, 1644, 'Bron-Y-Aur Stomp'),
 (2, 1656, 1.98, 1656, 'For Your Life'),
 (3, 1672, 1.98, 1672, "L'Avventura"),
 (3, 1690, 1.98, 1690, 'Tempo Perdido'),
 (2, 1708, 1.98, 1708, 'Mr. Cab Driver'),
 (2, 1785, 1.98, 1785, 'Abraham, Martin And John'),
 (2, 1786, 1.98, 1786, 'Save The Children'),
 (2, 1795, 1.98, 1795, 'Down by the Sea'),
 (2, 1799, 1.98, 1799, 'Shakes and Ladders'),
 (3, 1808, 1.98, 1808, 'Nothing Else Matters'),
 (3, 1822, 1.98, 1822, 'Stone Cold Crazy'),
 (2, 1831, 1.98, 1831, 'Motorbreath'),
 (2, 1835, 1.98, 1835, 'Phantom Lord'),
 (3, 1841, 1.98, 1841, 'The House Jack Built'),
 (2, 1853, 1.98, 1853, 'Battery'),
 (2, 1858, 1.98, 1858, 'Leper Messiah'),
 (3, 1864, 1.98, 1864, 'The Unforgiven II'),
 (3, 1865, 1.98, 1865, 'Better Than You'),
 (3, 1876, 1.98, 1876, 'For Whom The Bell Tolls'),
 (2, 1888, 1.98, 1888, 'Shoot Me Again'),
 (2, 1904, 1.98, 1904, 'The Duke'),
 (2, 1922, 1.98, 1922, 'Menestrel Das Alagoas'),
 (2, 1940, 1.98, 1940, 'Norwegian Wood'),
 (2, 2017, 1.98, 2017, 'Sangue Latino'),
 (2, 2018, 1.98, 2018, 'Folhas Secas'),
 (2, 2027, 1.98, 2027, 'Menino De Rua'),
 (2, 2031, 1.98, 2031, 'Nossa Gente (Avisa Là)'),
 (2, 2040, 1.98, 2040, 'Revolta Olodum'),
 (3, 2054, 1.98, 2054, 'Selvagem'),
 (3, 2063, 1.98, 2063, 'Nebulosa Do Amor'),
 (2, 2067, 1.98, 2067, 'Mensagen De Amor (2000)'),
 (2, 2073, 1.98, 2073, 'Saber Amar'),
 (2, 2085, 1.98, 2085, 'Meu Erro'),
 (2, 2090, 1.98, 2090, 'Romance Ideal'),
 (3, 2096, 1.98, 2096, 'Flying High Again'),
 (2, 2097, 1.98, 2097, "Mama, I'm Coming Home"),
 (2, 2108, 1.98, 2108, 'Children Of The Grave'),
 (3, 2120, 1.98, 2120, 'Walking Into Clarksdale'),
 (3, 2136, 1.98, 2136, 'Plot 180'),
 (3, 2154, 1.98, 2154, 'Untitled'),
 (2, 2172, 1.98, 2172, 'Big Wave'),
 (3, 2249, 1.98, 2249, 'Rappers Reais'),
 (3, 2250, 1.98, 2250, 'Nega Do Cabelo Duro'),
 (2, 2259, 1.98, 2259, "You're My Best Friend"),
 (2, 2263, 1.98, 2263, 'Somebody To Love'),
 (2, 2272, 1.98, 2272, 'We Are The Champions'),
 (2, 2286, 1.98, 2286, 'Get Up'),
 (2, 2295, 1.98, 2295, 'Untitled'),
 (3, 2299, 1.98, 2299, 'Undertow'),
 (3, 2305, 1.98, 2305, 'Binky The Doormat'),
 (3, 2317, 1.98, 2317, 'Country Feedback'),
 (2, 2322, 1.98, 2322, 'So Central Rain'),
 (2, 2328, 1.98, 2328, 'Fall On Me'),
 (2, 2329, 1.98, 2329, 'I Believe'),
 (3, 2340, 1.98, 2340, 'Esporrei Na Manivela'),
 (2, 2352, 1.98, 2352, 'Que Luz É Essa'),
 (3, 2368, 1.98, 2368, 'Under The Bridge'),
 (2, 2386, 1.98, 2386, 'Tear'),
 (3, 2404, 1.98, 2404, 'Right On Time'),
 (2, 2481, 1.98, 2481, 'Waiting'),
 (2, 2482, 1.98, 2482, 'Saturnine'),
 (3, 2491, 1.98, 2491, 'Cherub Rock'),
 (3, 2495, 1.98, 2495, 'Bullet With Butterfly Wings'),
 (2, 2504, 1.98, 2504, 'Real Love'),
 (3, 2518, 1.98, 2518, 'Pretty Noose'),
 (2, 2527, 1.98, 2527, 'Starburst'),
 (2, 2531, 1.98, 2531, 'End Of Romanticism'),
 (2, 2537, 1.98, 2537, 'Travis Walk'),
 (3, 2549, 1.98, 2549, 'Piece Of Pie'),
 (2, 2554, 1.98, 2554, 'Soldier Side - Intro'),
 (2, 2560, 1.98, 2560, 'Violent Pornography'),
 (2, 2561, 1.98, 2561, 'Question!'),
 (2, 2572, 1.98, 2572, 'Midnight From The Inside Out'),
 (2, 2584, 1.98, 2584, 'Title Song'),
 (3, 2600, 1.98, 2600, 'Train In Vain'),
 (2, 2618, 1.98, 2618, 'Speed Of Light'),
 (2, 2636, 1.98, 2636, 'Sun King'),
 (3, 2713, 1.98, 2713, 'Release'),
 (3, 2714, 1.98, 2714, 'Heaven Coming Down'),
 (3, 2723, 1.98, 2723, 'Gyroscope'),
 (3, 2727, 1.98, 2727, 'Babylon'),
 (2, 2736, 1.98, 2736, 'Boris The Spider'),
 (2, 2750, 1.98, 2750, 'You Better You Bet'),
 (2, 2759, 1.98, 2759, 'Música No Ar'),
 (2, 2763, 1.98, 2763, 'Compadre'),
 (3, 2769, 1.98, 2769, 'Não Quero Dinheiro'),
 (3, 2781, 1.98, 2781, 'Comida'),
 (3, 2786, 1.98, 2786, 'O Pulso'),
 (3, 2792, 1.98, 2792, 'A Melhor Forma'),
 (3, 2793, 1.98, 2793, 'Cabeça Dinossauro'),
 (3, 2804, 1.98, 2804, 'Lugar Nenhum'),
 (3, 2816, 1.98, 2816, 'Toda Cor'),
 (2, 2945, 1.98, 2945, 'Peace On Earth'),
 (2, 2946, 1.98, 2946, 'When I Look At The World'),
 (3, 2955, 1.98, 2955, 'Everlasting Love'),
 (3, 2959, 1.98, 2959, 'Hallelujah Here She Comes'),
 (2, 2968, 1.98, 2968, 'City Of Blinding Lights'),
 (3, 2982, 1.98, 2982, 'Miami'),
 (2, 2991, 1.98, 2991, 'All Along The Watchtower'),
 (2, 2995, 1.98, 2995, 'Pride (In The Name Of Love)'),
 (2, 3001, 1.98, 3001, 'The Star Spangled Banner'),
 (3, 3013, 1.98, 3013, 'Sweetest Thing'),
 (2, 3018, 1.98, 3018, 'Sunday Bloody Sunday'),
 (2, 3024, 1.98, 3024, 'Two Hearts Beat As One'),
 (2, 3025, 1.98, 3025, 'Red Light'),
 (3, 3036, 1.98, 3036, 'Dirty Day'),
 (3, 3048, 1.98, 3048, "C'est La Vie"),
 (2, 3064, 1.98, 3064, 'Eruption'),
 (2, 3082, 1.98, 3082, 'Eruption'),
 (3, 3100, 1.98, 3100, 'Year to the Day'),
 (2, 3256, 1.98, 3256, 'Give Peace a Chance'),
 (2, 3268, 1.98, 3268, 'Beautiful Boy'),
 (3, 3280, 1.98, 3280, 'War Pigs'),
 (5, 3432, 1.98, 3432, "Scheherazade, Op. 35: I. The Sea and Sindbad's Ship"),
 (5,
  3446,
  1.98,
  3446,
  "Symphonie Fantastique, Op. 14: V. Songe d'une nuit du sabbat"),
 (2, 3455, 1.98, 3455, 'Rehab'),
 (5, 3482, 1.98, 3482, 'Suite No. 3 in D, BWV 1068: III. Gavotte I & II'),
 (4,
  3488,
  1.98,
  3488,
  'Music for the Funeral of Queen Mary: VI. "Thou Knowest, Lord, the Secrets of Our Hearts"'),
 (4,
  3500,
  1.98,
  3500,
  'String Quartet No. 12 in C Minor, D. 703 "Quartettsatz": II. Andante - Allegro assai'),
 (3, 1, 0.99, 1, 'For Those About To Rock (We Salute You)'),
 (4, 3, 0.99, 3, 'Fast As a Shark'),
 (4, 4, 0.99, 4, 'Restless and Wild'),
 (4, 5, 0.99, 5, 'Princess of the Dawn'),
 (2, 6, 0.99, 6, 'Put The Finger On You'),
 (2, 10, 0.99, 10, 'Evil Walks'),
 (2, 12, 0.99, 12, 'Breaking The Rules'),
 (2, 13, 0.99, 13, 'Night Of The Long Knives'),
 (2, 14, 0.99, 14, 'Spellbound'),
 (2, 15, 0.99, 15, 'Go Down'),
 (2, 16, 0.99, 16, 'Dog Eat Dog'),
 (2, 19, 0.99, 19, 'Problem Child'),
 (2, 21, 0.99, 21, "Hell Ain't A Bad Place To Be"),
 (3, 24, 0.99, 24, 'Love In An Elevator'),
 (3, 25, 0.99, 25, 'Rag Doll'),
 (3, 26, 0.99, 26, 'What It Takes'),
 (3, 28, 0.99, 28, "Janie's Got A Gun"),
 (3, 30, 0.99, 30, 'Amazing'),
 (3, 31, 0.99, 31, 'Blind Man'),
 (3, 36, 0.99, 36, 'Angel'),
 (3, 37, 0.99, 37, "Livin' On The Edge"),
 (3, 38, 0.99, 38, 'All I Really Want'),
 (3, 39, 0.99, 39, 'You Oughta Know'),
 (3, 42, 0.99, 42, 'Right Through You'),
 (3, 43, 0.99, 43, 'Forgiven'),
 (3, 44, 0.99, 44, 'You Learn'),
 (3, 49, 0.99, 49, 'Wake Up'),
 (3, 53, 0.99, 53, 'Sea Of Sorrow'),
 (3, 54, 0.99, 54, 'Bleed The Freak'),
 (3, 55, 0.99, 55, "I Can't Remember"),
 (3, 57, 0.99, 57, "It Ain't Like That"),
 (3, 60, 0.99, 60, 'Confusion'),
 (3, 61, 0.99, 61, 'I Know Somethin (Bout You)'),
 (3, 62, 0.99, 62, 'Real Thing'),
 (2, 67, 0.99, 67, 'Ligia'),
 (2, 71, 0.99, 71, 'Falando De Amor'),
 (2, 72, 0.99, 72, 'Angela'),
 (2, 75, 0.99, 75, 'O Boto (Bôto)'),
 (2, 76, 0.99, 76, 'Canta, Canta Mais'),
 (3, 78, 0.99, 78, 'Master Of Puppets'),
 (3, 80, 0.99, 80, 'The Unforgiven'),
 (2, 85, 0.99, 85, 'Cochise'),
 (2, 89, 0.99, 89, 'Like a Stone'),
 (2, 90, 0.99, 90, 'Set It Off'),
 (2, 93, 0.99, 93, 'Exploder'),
 (2, 94, 0.99, 94, 'Hypnotize'),
 (2, 98, 0.99, 98, 'The Last Remaining Light'),
 (2, 99, 0.99, 99, 'Your Time Has Come'),
 (2, 102, 0.99, 102, "Doesn't Remind Me"),
 (2, 103, 0.99, 103, 'Drown Me Slowly'),
 (2, 107, 0.99, 107, 'Yesterday To Tomorrow'),
 (2, 108, 0.99, 108, 'Dandelion'),
 (3, 111, 0.99, 111, 'Money'),
 (3, 112, 0.99, 112, 'Long Tall Sally'),
 (3, 116, 0.99, 116, "C'Mon Everybody"),
 (3, 117, 0.99, 117, "Rock 'N' Roll Music"),
 (3, 120, 0.99, 120, 'Carol'),
 (3, 121, 0.99, 121, 'Good Golly Miss Molly'),
 (2, 125, 0.99, 125, 'Spanish moss-"A sound portrait"-Spanish moss'),
 (2, 126, 0.99, 126, 'Moon germs'),
 (2, 129, 0.99, 129, 'Solo-Panhandler'),
 (2, 130, 0.99, 130, 'Do what cha wanna'),
 (2, 134, 0.99, 134, 'All For You'),
 (2, 135, 0.99, 135, 'Super Terrorizer'),
 (2, 138, 0.99, 138, 'Bored To Tears'),
 (2, 139, 0.99, 139, 'A.N.D.R.O.T.A.Z.'),
 (2, 143, 0.99, 143, 'The Begining... At Last'),
 (2, 144, 0.99, 144, 'Heart Of Gold'),
 (2, 147, 0.99, 147, 'Blood In The Wall'),
 (2, 148, 0.99, 148, 'The Beginning...At Last'),
 (3, 152, 0.99, 152, 'N.I.B.'),
 (2, 153, 0.99, 153, 'Evil Woman'),
 (2, 157, 0.99, 157, "Tomorrow's Dream"),
 (2, 163, 0.99, 163, 'Laguna Sunrise'),
 (2, 165, 0.99, 165, 'Under The Sun/Every Day Comes and Goes'),
 (3, 166, 0.99, 166, 'Smoked Pork'),
 (3, 167, 0.99, 167, "Body Count's In The House"),
 (3, 169, 0.99, 169, 'Body Count'),
 (3, 170, 0.99, 170, 'A Statistic'),
 (3, 173, 0.99, 173, 'KKK Bitch'),
 (3, 179, 0.99, 179, 'Evil Dick'),
 (3, 180, 0.99, 180, 'Body Count Anthem'),
 (3, 183, 0.99, 183, 'King In Crimson'),
 (3, 185, 0.99, 185, 'The Tower'),
 (3, 186, 0.99, 186, 'Killing Floor'),
 (3, 187, 0.99, 187, 'Book Of Thel'),
 (3, 188, 0.99, 188, 'Gates Of Urizen'),
 (3, 189, 0.99, 189, 'Jerusalem'),
 (3, 190, 0.99, 190, 'Trupets Of Jericho'),
 (3, 191, 0.99, 191, 'Machine Men'),
 (3, 192, 0.99, 192, 'The Alchemist'),
 (3, 193, 0.99, 193, 'Realword'),
 (2, 194, 0.99, 194, 'First Time I Met The Blues'),
 (2, 195, 0.99, 195, 'Let Me Love You Baby'),
 (2, 196, 0.99, 196, 'Stone Crazy'),
 (2, 199, 0.99, 199, 'Leave My Girl Alone'),
 (2, 202, 0.99, 202, 'My Time After Awhile'),
 (3, 205, 0.99, 205, 'Jorge Da Capadócia'),
 (3, 206, 0.99, 206, 'Prenda Minha'),
 (3, 208, 0.99, 208, 'Terra'),
 (3, 209, 0.99, 209, 'Eclipse Oculto'),
 (3, 210, 0.99, 210, 'Texto "Verdade Tropical"'),
 (3, 213, 0.99, 213, 'Saudosismo'),
 (3, 214, 0.99, 214, 'Carolina'),
 (4, 215, 0.99, 215, 'Sozinho'),
 (3, 216, 0.99, 216, 'Esse Cara'),
 (3, 218, 0.99, 218, 'Linha Do Equador'),
 (4, 219, 0.99, 219, 'Odara'),
 (3, 221, 0.99, 221, 'Atrás Da Verd-E-Rosa Só Não Vai Quem Já Morreu'),
 (3, 222, 0.99, 222, 'Vida Boa'),
 (2, 223, 0.99, 223, 'Sozinho (Hitmakers Classic Mix)'),
 (2, 225, 0.99, 225, "Sozinho (Caêdrum 'n' Bass)"),
 (3, 228, 0.99, 228, 'Vai Passar'),
 (3, 230, 0.99, 230, 'Bye, Bye Brasil'),
 (2, 231, 0.99, 231, 'Atras Da Porta'),
 (2, 232, 0.99, 232, 'Tatuagem'),

In [59]:
# 12. How much revenue is generated each year, and what is its percent change from the previous year?
cursor.execute ('''WITH Revenue AS (
                SELECT ROUND(SUM (Total), 2) AS Revenue, CAST(strftime('%Y', InvoiceDate) AS INTEGER) AS "Current Year", CAST(strftime('%Y', InvoiceDate)-1 AS INTEGER) AS "Previous Year"
                FROM invoices
                GROUP BY 2
                ORDER BY 2
                )
                SELECT current."Previous Year", current."Current Year", current.Revenue, ROUND((current.Revenue - previous.Revenue)/previous.Revenue * 100, 2) AS "% change compared to the last year"
                FROM Revenue current 
                LEFT JOIN Revenue previous
                    ON current."Previous Year" = previous."Current Year";''').fetchall()

[(2008, 2009, 449.46, None),
 (2009, 2010, 481.45, 7.12),
 (2010, 2011, 469.58, -2.47),
 (2011, 2012, 477.53, 1.69),
 (2012, 2013, 450.58, -5.64)]

In [ ]:
# Commit changes to DB and close connections
cursor.close()
connection.commit()
connection.close()